<div class="container">
  <h1>Overwatch Me</h1>
  <p>
    Welcome to Overwatch Me Stat Tracker.
  </p>
  <p>
    Select your Overwatch platform and username to view your stats.
  </p>
  <form>
    <div class="form-group">
      <label for="Platform">Platform</label>
      <select class="form-control" id="Platform">
        <option *ngFor="let platform of platforms">
          {{platform}}
        </option>
      </select>
      <small id="Platform" class="form-text text-muted">Currently we only support Xbox and Playstation. PC will be added soon.</small>
    </div>
    <div class="form-group">
      <label for="PlayerId">Player Id</label>
      <input type="username" class="form-control" id="PlayerId" placeholder="Enter your username here...">
    </div>
    <button type="submit" class="btn btn-warning">Get Stats</button>
  </form>
</div>